
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
#mainpanel {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 900px;
	height:520px;

	/* custom decorations */
	/*border:1px solid #ccc;*/
	background:url(/img/global/gradient/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
#mainpanel .items {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.items > div {
	float:left;
    margin:0px;
    width: 870px; height:460px;
    background:url(/images/drop_shadow_520.png) no-repeat;
    padding: 30px;
    overflow: hidden;
}

/* active item */
#mainpanel .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}


