@CHARSET "UTF-8";
* {padding: 0px; margin: 0px;}
html, body {font-size:13px}
body { background: #444444 ; background: url('../images/bg_squared.jpg') top left repeat; 
       background-attachment : fixed; 
       font-family: Verdana; 
       }

a {color: #e6e5bc;}
a:hover {color: #bebd9b;}
a {text-decoration:none;}

#main_content {width: 900px;}
#logo {background: url('../images/logo.jpg') no-repeat top left; width: 230px;height:282px; float:left;}
#header {height: 70px;position:relative;background: url('../images/logo.png') no-repeat top right;width:900px;}
#content {width:1024px;margin-left:0px; height:610px;overflow: hidden; float:left;}
#menu {position:absolute;bottom:0px; left: 30px;float:left;text-shadow: 0.15em 0.15em #331107; font-size:1.0em}
#menu a {margin-left: 5px; font-weight: bold;}
#footer {width:870px;}
#footer a {text-shadow: 0.15em 0.15em #331107;}
#external_links {float:left;margin: -5px 10px 0px 30px;}
#external_links a {margin-left:10px;}

#aside {float: left; padding-top: 30px;width:60px;overflow: hidden;}


#content .page_layer {background: transparent url('../images/logo_bg_transparent.png') 60px 10px no-repeat; 
width:820px; height: 430px; overflow: hidden; padding:10px}
.page_layer h1 {margin: 5px 0px 0px 0px;font-size: 1.3em;}
.page_layer h2 {margin-bottom: 5px;font-size:1.2em}
.page_layer h2.underlined { padding-bottom: 3px;border-bottom: 1px solid black;}
.page_layer h3 {margin-bottom: 5px;font-size:1.1em;}
.page_layer p {margin-bottom: 20px;font-size: 1em}
.hr_engraved {background: transparent url('../images/hr_engraved.png');height:10px;margin-bottom:10px; width: 100%}

.left {float: left;}
.right {float: right;}
.clear {clear:both;}


.footer, .push { height: 50px; clear: both;}

.layer_bg {background: transparent url('../images/content_background_transpar.png') repeat top left;}
.spacer-30 {height: 30px;}

/* LISTA ALBUM [pagina music */
.album_entry {margin: 10px auto; width: 720px;}
.album_entry .cover {float:left; width: 200px; text-align: center;}
.album_entry .cover div {width: 200px;height:200px;background: black no-repeat 50% 50%;}
.album_entry .album_description {float:left; width: 520px;}

.event_list { list-style-type: none;}
.event_list li {padding-bottom: 3px;clear:both;}
.event_list p.ev_stdate {float:left; width:70px; overflow: hidden;}
.event_list p.ev_title { float:left;font-weight: bold;color: #562102}


/* spalla dx */
#latestEvents .event_list p.ev_address,#latestEvents .event_list p.ev_image {display:none;}

.page_contact a {color:#e6e5bc}
.page_contact #external_links {text-align: left;}

.photogallery .frame {width: 150x; height: 150px;padding: 2px; border: 2px solid #562102;float:left;margin: 2px;}
.photogallery .thumb {width:146px;height:142px;line-height: 150px;overflow: hidden;padding: 3px;}
.photogallery .thumb img {vertical-align: middle;margin: auto 0px;}