@CHARSET "UTF-8";
* {padding: 0px; margin: 0px;}
html, body {font-size:13px;padding:0px; margin:0px; overflow:hidden; color:#FFF}
body {}
#wrapper{z-index:2; padding:0px; margin:0px; overflow:hidden;height:100%;width:100%;position:fixed;}
#background_container {position:absolute; width:100%; margin:0px; padding:0px; left:0px; right:0px; z-index:1}
#content { margin:0 auto; padding:0px; height:100%; width:960px; overflow:hidden;position:relative;}
#menubar   {    
    margin: 0 auto;
    width: 100%;
    background: transparent;
    bottom: 10px;
    position:absolute
}
#menu {background: #000;margin:0; height:50px;width:960px;}
.panel {padding: 30px;width:900px;bottom: 50px;position:absolute;display:none;padding: 0 40px; background: url('../images/content_background_transpar.png') repeat top left;}