.buildpath
.project
.settings
/doc/*
/resources/logs
/resources/cache
/public/infatwetrust/*
/public/upload/images/*
/public/upload/doc/*
/nbproject/*
/org_netbeans_saas/*
/org_netbeans_saas_facebook/*

