/** STRUCT **/
* {
	border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body{
	background: url("../images/body_bg.jpg");
	color: #313131;
	font-family: Helvetica,sans-serif;
	position: relative;
    font-size:16px;
}
h1,h2,h3,h4,h5,h6, .title{ font-family: 'Alegreya', serif;}

a, a:visited, a:active {text-decoration: none; color: #9B6434;}
a:hover {text-decoration: underline;}

#main_content {
	background: url("../images/main_bg.jpg") repeat scroll 0 0 #f4cfa3;
	padding-bottom: 20px;
}
#header_main_container {
    background: url("../images/header_extended.jpg") no-repeat scroll 50% 0 #f4cfa3;
    height: 125px;
}
#header_bottom {
   background: url("../images/header_simple_bottom.png") no-repeat scroll 50% 0 transparent;
   height: 76px;
}
.site_width {
	margin: 0 auto;
	padding: 0 20px;
	width: 960px;
}
.page_container {
    position: relative;
}
#footer_container{
    background: url("../images/bg_footer.png") no-repeat scroll 50% 0 transparent;
	height:160px;
}
/** HEADER **/
.nav_main h1 {
	float:left;
}
/* MENU  */
#main_menu {
    font-family: 'Alegreya', serif;
	display: block;
    float: right;
    height: 45px;
    padding-top: 45px;
    margin-right:30px;
    background: url("../images/main_menu_bottom_line.png") repeat-x bottom right;
}
#main_menu li {
    display: block;
    float: left;
    padding: 0 10px 45px 10px;
	font-size: 18px;
	font-weight: bold;
    text-shadow: 0 1px 1px #9B6434;

}
#main_menu li a, #main_menu li a:visited {display:block; height: 45px;color: #f4cfa3; text-decoration: none;}
#main_menu li a:hover {background: url("../images/pix_2_white_40.png"); color:#2d333a;}
#main_menu li a.higlight {display:block; height: 45px; text-decoration: underline; color:#F2ECDE;}
/** CONTENT OF PAGE */
.left_side_wrap {
	float:left;
	padding: 0 10px;
	width: 340px;
}
.page_maincontent {
	float:left;
	width: 600px;
}

body.popin .page_maincontent {
	clear:both;
    width:auto;
}
body.popin .site_width {width:auto;margin: 0; padding: 0;}

body.popin #main_content {
	background: url("../images/main_bg.jpg") repeat scroll 0 0 #f4cfa3;
	padding-bottom: 0px;
}

/* general classes */
.clear {clear: both;}
.left {float:left;}
.right {float:right;}
.main_separator {background: url("../images/main_separator.png") repeat-x transparent;height: 8px;}
.big_separator {background: url("../images/big_separator.png") repeat-x transparent;height: 8px;}
.text_shadow_dark { text-shadow: 0 1px 1px #000; }
.text_shadow_clear {text-shadow: 0 1px 1px #9B6434;}
.rounded-corners {
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

/* BOXES */

.generic_box {width: 300px; margin-bottom: 40px;}
.generic_box .main_separator {}
.generic_box h2 {margin: 20px 0;}
.generic_box .box_content {background: url("../images/body_bg.jpg"); color: #f4cfa3 ;border: 0;}
.generic_box .box_content .lucid_border {background: url("../images/white10percent.png"); height:10px; }
.generic_box h3 {font-size: 18px;}
.twitter_pad {margin-bottom:40px;}
.box_content .item {border-bottom: 2px solid #f4cfa3; padding: 5px;}
.box_content a {color: #f4cfa3;}
.background_cd {background: url("../images/box_cd_bg.jpg") no-repeat;height:392px;width: 300px; overflow: hidden;}


.generic_box.fbox .box_content {background-image: none;background: #03263C; }
.generic_box.shows .date {font-size: 15px;font-style: italic;padding: 0px;line-height: 15px;}
.generic_box.shows .title {font-size: 18px;font-weight:bold; line-height: 18px;}

/* NEWS */

.main_post {
    margin-bottom: 40px;
}
.main_post h3 {font-size: 25px; text-transform: uppercase;line-height: 25px;margin-bottom: 20px; width:600px; text-align:center;}
.main_post .post_date {font-size: 16px;margin-bottom: 10px;}
.main_post .post_image {margin: 10px;text-align:center;}
.main_post .post_content {margin-bottom: 20px;}

.post {margin: 10px 0 20px;}
.post h4 {font-size: 18px; text-transform:uppercase;}
.post h4 span {font-weight:normal;}
.post .post_content {padding: 0 10px;margin-bottom:10px;}
.post .post_date {font-size: 12px; font-style: italic;}
.post .read_more {float: right;font-weight: bold;}
.post_footer {height: 70px;background: url("../images/bg_footer.png") no-repeat 0 -30px  transparent;font-family: 'Alegreya', serif;}
.post_footer_content {height:54px;}
.post_footer_content .post_date, .post_footer_content .post_share  { margin: 0px; height:54px; line-height: 54px; font-size: 16px; font-style: italic;padding: 0 10px;}
.post_footer_content .post_date {width: 150px;border-right: 1px dashed #666;}
.post_footer_content .post_date span {font-weight: bold;}
.post_footer_content .post_share {text-align: right; width: 300px;}


#compilations {margin: 20px 0;}
.compilation {float: left; width: 170px; padding: 20px 10px;text-align: center; background: url("../images/compilation_bg.png") no-repeat 10px 10px;}
.compilation p.title {color: #000; text-shadow: 0 1px 1px #4C5046;font-size: 18px; font-weight:bold;line-height:18px; margin-top: 10px;}
.compilation p.label {font-style: italic}

#albums {margin: 0px 0;}
#albums .album_description {float:left; width:240px;font-size:16px;padding-top: 15px;}
#albums .album_cover {float:left; width:360px;background: url("../images/albums_bg.png") no-repeat 0 0;}
#albums .album_cover img {margin: 25px auto;width:300px;display:block;}
#albums .big_separator {margin-top: 20px;}
.album_description h2 {font-size: 20px; text-shadow: 0 1px 1px #4C5046; margin-bottom: 10px;}
.album_description ol {margin: 0 0 10px 20px;}
.album_description a.download_link {font-size: 16px; text-shadow: 0 1px 1px #4C5046;font-style: italic;}
.album_description a.download_link span {text-transform: uppercase}

#bio p, #contacts p {margin: 20px 0;}
#contacts p.addresses span {display:block; width: 150px; float: left;}

#contact_form .field {margin: 10px 0;clear:both;}
#contact_form .field textarea {font-family: verdana;width: 440px; height: 200px;padding: 5px; }
#contact_form .field input {padding: 5px;width:290px;}
#contact_form .field input, #contact_form .field textarea {background: url("../images/form_input_bg.jpg");border: 1px solid #9B6434;}
#contact_form #send_button {display:block; text-align:center;height: 25px; width:80px;padding: 5px 0;cursor:pointer; border: 1px solid #03263C; background:#03263C; color:#F4CFA3}
#mail_form_container p.ok_response span {font-weight:bold;}
#mail_form_container p.ko_response {font-weight:bold;color: crimson;}

#social_media {margin-top: 30px;}
#social_media .icons {margin: 0 auto;width: 800px}
#social_media a {display:block; float:left;}
#social_media img {width: 150px;}


.post .tour_date {
        display:block;
        width: 100px;
        height: 20px;
        position:absolute;
        bottom:10px;
        left: 40px;
        z-index:2;
        background:#ECC59E;
        padding: 10px;
        border:1px solid #846041;
        font-size:16px;
        font-weight: bold;

    }
.post.tour .post_content {padding-top: 20px;width:380px;font-size:14px;}
.post.tour .post_content h4 {margin-bottom: 15px;}
.flyer_container {
    width:190px;
    height:240px;
    position:relative;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
 }
.flyer_container img {
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    border:0px;
}
.flyer_container .flyer_img {
     width:190px;
     height:240px;
     position:absolute;
     top:9px;
     left:8px;
     z-index:2;

}


.post_thumb_container {width:150px;height:181px;position:relative;float:left;margin-right:10px;}
.post_thumb_container img {position:absolute;top:0;left:0;z-index:5;border:0px;}
.post_thumb_container .post_thumb{width:128px; height:128px; position:absolute; top:10px; left:10px;z-index:1;}

.gallery {margin: 20px 0;}
.gallery h2 {margin: 20px 0;}
.gallery .gallery_item {margin: 0 10px;float:left;}

h2.album_title {text-transform: uppercase; font-size: 18px;}
