@CHARSET "UTF-8";
* {padding: 0px; margin: 0px;}
html, body {font-size:11px}
body { background: #444444 ; background: url('../images/big_bg.jpg') top left repeat; 
       background-attachment : fixed; 
       font-family: Verdana; 
       font-size: 13px;}

a {color: #e6e5bc;}
a:hover {color: #bebd9b;}
a {text-decoration:none;}

#main_content {width: 900px;}
#content { width:1024px; margin-left: 180px; margin-top: 60px;height:520px;overflow: hidden;}

#download_iftw {margin-top: 50px;width:195px; margin-left:40px;height:195px;}

#content .page_layer {background: transparent url('../images/logo_bg_transparent.png') 60px 10px no-repeat; 
width:830px; height: 460px; overflow: hidden;}
.page_layer h1 {margin: 5px 0px 0px 0px;font-size: 1.8em;}
.page_layer h2 {margin-bottom: 5px;font-size:1.5em}
.page_layer h2.underlined { padding-bottom: 3px;border-bottom: 1px solid black;}
.page_layer h3 {margin-bottom: 5px;font-size:1.4em;}
.page_layer p {margin-bottom: 5px;font-size:1em;}
.hr_engraved {background: transparent url('../images/hr_engraved.png');height:10px;margin-bottom:10px; width: 100%}

.left {float: left;}
.right {float: right;}
.clear {clear:both;}


.footer, .push { height: 50px; clear: both;}

.layer_bg {background: transparent url('../images/content_background_transpar.png') repeat top left;}
.spacer-30 {height: 30px;}

/* LISTA ALBUM [pagina music */
.album_entry {margin-bottom:10px}
.album_entry .cover {float:left; width: 260px; text-align: center; padding:5px; border: 1px solid black;}
.album_entry .cover div {width: 250px;height:250px;background: black no-repeat 50% 50%;}
.album_entry .album_description {float:left; width: 350px; margin-left: 10px;padding: 5px;}
.album_description ol {list-style-position: inside; margin-left: 20px;}
.album_description p {margin-top: 5px;}

.event_list { list-style-type: none;}
.event_list li {padding-bottom: 3px;clear:both;}
.event_list p.ev_stdate {float:left; width:70px; overflow: hidden;}
.event_list p.ev_title { float:left;font-weight: bold;color: #562102}

.latest_activities {list-style-type: none;}
.latest_activities li {clear:both;border-bottom: 1px solid #333;padding: 3px 0;}
.latest_activities li p{  margin: 0px; margin-right: 5px;}
.latest_activities li p { float:left;}
.latest_activities li p a {color:#e6e5bc;}
.latest_activities li p { float:auto; }
p.activity_image {margin: auto;}
.latest_activities li p.activity_action {font-size: 12px;float:none;}
.activity_action .from_name {font-weight: bold;}
p.actibity_link {font-size: 12px;}
p.acitivity_status {font-size: 12px;}

/* BC PLAYER */
.bc_player { width: 100%; background: #E8E5BC;padding-top: 10px;text-align:center;}

/* link esterni */
#external_links { text-align: center;}
#external_links a {margin-left:10px;}

/* spalla dx */
#latestEvents .event_list p.ev_address,#latestEvents .event_list p.ev_image {display:none;}

.page_contact a {color:#e6e5bc}
.page_contact #external_links {text-align: left;}

.photogallery .frame {width: 150x; height: 150px;padding: 2px; border: 2px solid #562102;float:left;margin: 2px;}
.photogallery .thumb {width:146px;height:142px;line-height: 150px;overflow: hidden;padding: 3px;}
.photogallery .thumb img {vertical-align: middle;margin: auto 0px;}