@CHARSET "UTF-8";
* {padding: 0px; margin: 0px;}
html, body {height:100%}
body {font-size: 14px; font-family: 'Quicksand', Helvetica, sans-serif; background: #f9f9f9 url(/images/bg_heart_middle.jpg) no-repeat center 10px;}
body.splash{ height: 450px; background: #f9f9f9 url(/images/bg_heart.jpg) no-repeat center 10px;text-align: center;}
#main_content {
  width: 1024px; margin: 0 auto;min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -50px;}
#header {border-bottom: 2px solid #999; padding: 5px 0px;}
#footer {border-top: 2px solid #bca474;font-size: 14px; width: 1024px;margin:0 auto;}
#footer, #push {height: 50px; clear:both;}
#logo {padding: 0px;margin:0px 0px 10px 0px;}
#logo a {display:inline-block;}
#menu {width: 550px;}
#menu a {text-decoration: none; color:#bca474;;text-transform: uppercase;font-size:16px}
#menu a:hover {text-decoration: none;}
#content {margin-top: 10px;}

a, a:hover, a:visited {color:#bca474;text-decoration: none;}
/* breadcrumbs */
#breadcrumbs {font-size:16px;}
/* generiche */
.left {float:left;}
.right {float:right;}
.clear {clear: both;}
.box {padding: 5px;}
.fb-like {width:100px;}
.hidden {display:none;}
/* COMMON */
.tagline {text-transform: uppercase;font-size:14px;}
h2 {font-size:16px; }

/* SPLASH SCREEN */
p#splash_screen {padding: 10px;font-size:100px;width:800px;margin:auto;text-transform: uppercase;text-shadow: 0px 0px 10px #999;}
p#splash_screen a {color: #000;text-transform: uppercase;text-shadow: 0px 0px 10px #999;text-decoration: none;display:inline-block}


/*home */
.home-main, .work-main {width: 924px; min-heigth:100%;}
.home-side, .work-side{width: 100px;overflow:hidden;}


/* PAGINA PORTFOLIO */
.work-item-container, .work-gallery-container, .about-random-thumbs {}
.work-item , .work-gallery-item, .about-random-item {
    line-height: 112px;
    margin: 10px 10px 0px 0;
    text-align:center;
    float:left;
    width:200px;
}
.work-item-title {
    height:25px;line-height:25px;text-align:left;
}
.work-item-thumb , .work-gallery-thumb, .about-random-thumbs {
    border:1px solid #bca474;
    height:112px;
    width:200px;
    overflow:hidden;
    padding:0px;
    background: #f6f6f6;
    filter: alpha(opacity=80);
    opacity: 0.8;

}
.about-random-item {margin: 0px ; line-height: 150px;}
.work-item-thumb img, .work-gallery-thumb img , .about-random-thumbs img{width:100%;height:100%;}
.about-random-item, .about-random-thumbs {width: 150px;height:150px; filter: alpha(opacity=100);opacity: 1;}

