@CHARSET "UTF-8";
* {padding: 0px; margin: 0px;}
body {font-size: 14px;font-family: 'MarveMarvel', sans-serif; background-color: #f9f9f9;height:100%;}
#logo {text-align:center;margin: 20px auto;background: url(heart.jpg) no-repeat center;height:540px; cursor: pointer;}
#logo h1 {padding: 10px;font-size:100px;width:800px;margin:auto;line-height:540px;text-transform: uppercase;text-shadow: 0px 0px 10px #999;}
