@CHARSET "UTF-8";
* {padding: 0px; margin: 0px;}
body {font-size: 16px;font-family: 'Quicksand', Helvetica, sans-serif;background: #f9f9f9 url(/images/bg_heart_middle.jpg) no-repeat center 10px;}
body.splash{ height: 450px; background: #f9f9f9 url(bg_heart.jpg) no-repeat center 10px;text-align: center;}
#main_content {width: 1024px; margin: 0 auto;}
#content {margin-top: 10px;}

a, a:hover, a:visited {color:#bca474;text-decoration: none;}
/* generiche */
.left {float:left;}
.right {float:right;}
.clear {clear: both;}
.box {padding: 5px;}


/* COMMON */
.tagline {text-transform: uppercase;}

/* SPLASH SCREEN */
p#splash_screen {padding: 10px;font-size:100px;width:800px;margin:auto;text-transform: uppercase;text-shadow: 0px 0px 10px #999;}
p#splash_screen a {color: #000;text-transform: uppercase;text-shadow: 0px 0px 10px #999;text-decoration: none;display:inline-block;}
